* {
  font-family: "LatoRegular";
  font-weight: normal;
  font-size: 20px;
  margin: 0;
}

table {
  border-collapse: collapse;
  width: 100em;
  margin-bottom: 100px;
}

td,
th {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: whitesmoke;
}

.header {
  grid-area: header;
  background-color: rgb(47, 46, 46);
  /* height: 200px; */
  color: white;
}

/* .header>div{
    float: left;
} */

.header img {
  inline-size: 150px;
  padding: 20px;
}

.sidenav {
  grid-area: menu;
  /* background-color: rgb(172, 168, 168); */
  background-color: whitesmoke;
  color: black;
  width: fit-content;
}

.songsLibrary {
  grid-area: main;
  /* background-color: greenyellow; */
}

button {
  color: blue;
  align-self: right;
}

.sidenav > i {
  padding: 30px;
  margin: 0;
  width: 30px;
  /* background-color: yellow; */
}
.footer {
  grid-area: footer;
  background-color: rgb(60, 113, 157);
  color: white;
  /* height: 150px; */
}

.footer img {
  inline-size: 100px;
  padding: 20px;
}

.footer-buttons {
  justify-content: space-evenly;
  /* text-align: right; */
}
.grid-container {
  display: grid;
  grid-template-areas:
    "menu header header header"
    "menu main main main"
    "footer footer footer footer";
}

.grid-container > div {
  font-size: 10px;
}
