* {
  font-family: "LatoRegular";
  font-weight: normal;
  font-size: 20px;
  margin: 0;
}

.header {
  background-color: rgb(64, 61, 61);
  color: white;
  overflow: hidden;
  display: flex;
}

.header img {
  padding: 12px;
}

.right-header {
  padding-top: 12px;
  padding-bottom: 12px;
}

table {
  border-collapse: collapse;
  width: 100em;
  margin-bottom: 220px;
  margin-left: 12px;
}

td,
th {
  text-align: left;
}

tr:nth-child(even) {
  background-color: whitesmoke;
}

.sidenav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: whitesmoke;
  color: black;
}

.grid-container {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  flex: 1;
  height: calc(100vh-150px);
}

.footer {
  background-color: rgb(60, 113, 157);
  color: white;
  height: 150px;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
}

.left-footer {
  display: flex;
}

.left-footer img {
  height: 80%;
  margin: auto;
  padding-left: 8px;
  padding-right: 8px;
}

.left-footer {
  padding-top: 20px;
  padding-bottom: 20px;
}

.icon {
  font-size: 24px;
  display: flex;
  height: 100%;
  padding: 30px;
}

.right-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 20px;
}

.footer-buttons {
  padding-top: 20px;
}
