.main {
  display: flex;
  position: absolute;
  padding: 100px;
  height: 200px;
  width: 200px;
  z-index: 2;
}

.text-box {
  display: flex;
  position: absolute;
  padding: 100px;
  height: 200px;
  width: 200px;
  z-index: 1;
}

h1 {
  margin: auto;
}

/* Individual box transitions */
#boxOne {
  height: 100px;
  width: 100px;
  background-color: red;
  transition: transform;
  transition-duration: 2s;
  transition-timing-function: ease-in-out;
}

#boxTwo {
  height: 100px;
  width: 100px;
  background-color: blue;
  transition: transform;
  transition-duration: 2s;
  transition-timing-function: ease-in-out;
}

#boxThree {
  height: 100px;
  width: 100px;
  background-color: yellow;
  transition: transform;
  transition-duration: 2s;
  transition-timing-function: ease-in-out;
}

#boxFour {
  height: 100px;
  width: 100px;
  background-color: green;
  transition: transform;
  transition-duration: 2s;
  transition-timing-function: ease-in-out;
}

/* Hover Tranisitions */

.main:hover #boxOne {
  transform: rotate(90deg);
  transform-origin: top left;
}

.main:hover #boxTwo {
  transform: rotate(-90deg);
  transform-origin: bottom left;
}

.main:hover #boxThree {
  transform: rotate(-90deg);
  transform-origin: top right;
}

.main:hover #boxFour {
  transform: rotate(90deg);
  transform-origin: bottom right;
}

/* Non-Hover Tranisitions */
.main #boxOne {
  transform: rotate(0deg);
  transform-origin: top left;
}

.main #boxTwo {
  transform: rotate(0deg);
  transform-origin: bottom left;
}

.main #boxThree {
  transform: rotate(0deg);
  transform-origin: top right;
}

.main #boxFour {
  transform: rotate(0deg);
  transform-origin: bottom right;
}
